<%- include('partials/header.ejs'); -%>

<form action="/" method="post">
    <input type="text" placeholder="Enter place names seperat them by ," name = input>
    <input type="submit" value="Get Weather">
</form>

<%- include('partials/footer.ejs'); -%>